html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
/* Header sidebar */
.sidebar {
    display: flex;
    height: 100%;
    width: 20vw;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 0px;
    padding: 0px;
    border-right: 2px solid #BEC1BB;
}


.chat-me {display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #BEC1BB;
    padding: 10px 15px;
    box-sizing: border-box;
}
.chat-list {
    padding: 0px;
    width: 100%;

}
.chat-me img{
    border-radius: 50%;
    height: 4vh;
    padding: 0px;
}

.card-content{
    display: flex;
    flex-direction: column;
}

.card-text, .card-title{
    margin: 0px;
    padding-left: 15px;
}
.card-text {
    padding-top: 5px;
    font-size: 11px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;

}
.contact-header{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 0px;
}

/* Seccion del chat */

.chat-section{
    display: flex;
    background-color: #E8ebe4;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.chat-section img{
    height: 30vh;
    width: auto;
}
.content-chatsection{
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;

}
.titulo-chatsection {
    font-size: 3vw;
    margin-bottom: 0px;
    margin-top: 15px;
    
}
.texto-chatsection {
    font-size: 20px;
    padding: 0 15vw 0 15vw;
    text-align: center;
}

/* boton */
.chat-boton{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #BEC1BB;
    padding: 30px;
    box-sizing: border-box;
}
.boton {
    padding: 10px 20px;
    font-size: 16px; 
    background-color: #A491D2;
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

.boton:hover {
    background-color: #D4DCFF;
    transform: scale(1.1); 
}


.boton:active {
    background-color: #cdc3e6 ;
    transform: scale(1); 
}

/* Contactos */
.contactos {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #BEC1BB;
    padding: 10px 15px;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.2s; 
}

.contactos img{
    border-radius: 50%;
    height: 5vh;
    padding: 0px;
}

.contactos:hover {
    background-color: #D4DCFF;
    transform: scale(1); 
}


.contactos:active {
    background-color: #cdc3e6 ;
    transform: scale(1); 
}